<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOnpBIizhdxZrmEbai0nVyZ3J2TNHRK3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>597523049478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sheetal.RawDraw</string>
	<key>PROJECT_ID</key>
	<string>rawdraw-e9cf5</string>
	<key>STORAGE_BUCKET</key>
	<string>rawdraw-e9cf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597523049478:ios:bc32de4eb08428c489e787</string>
</dict>
</plist>